.squares{
  justify-content: center;
}
.square1{
  background-color: orange;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square2{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 5px;

}
.square3{
  background-color: orange;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square4{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square5{
  background-color: orange;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square6{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square7{
  background-color: orange;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square8{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square9{
  background-color: orange;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square10{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square11{
  background-color: orange;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.square12{
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.trigger> .hover. nth-child(even){
  transition: all 500ms;
}
.trigger> .hover
