body{
background-image: url("../img/airline.jpg");
background-repeat: no-repeat;
background-size: auto;
}
.navbar{
  position: absolute;
  background-color: #123754;
  width: 100%;
  background-size: cover;
  padding: 10px;
}
.links{
  right: 0;
}
